<!DOCTYPE html>
<html>
    <head>
        <title>Chat</title>
    </head>
    <body>
        <h1>WebSocket Chat</h1>
        <h2>Your ID: <span id="ws-id"></span></h2>
        <form action="" onsubmit="sendMessage(event)">
            <label>Message: <input type="text" id="messageText" autocomplete="off"/></label>
            <label>Recipient: <input type="text" id="recipientId" autocomplete="off"/></label>
            <button>Send</button>
        </form>
        <ul id='messages'>
        </ul>

        <script>
            // Передаем идентификатор текущего пользователя в JavaScript
            const currentUserId = parseInt("{{ user.id }}", 10);
        </script>
        
        
        <script src='/static/js/chat.js'></script>
    </body>
</html>
