<!DOCTYPE html>
<html>
    <head>
        <title>Chat</title>
        <link rel="stylesheet" type="text/css" href="/static/styles/button_exit.css">
        <link rel='stylesheet' type='text/css' href='/static/styles/users.css'
    </head>
    <body>
        <h1>WebSocket Chat</h1>
        <h2>Your ID: <span id="ws-id"></span></h2>

        <button class="exit-btn" onclick="handleExit()">Выход</button>
        <br><br>
        
        <form action="" onsubmit="sendMessage(event)">
            <label>Message: <input type="text" id="messageText" autocomplete="off"/></label>
            <label>Recipient: <input type="text" id="recipientId" autocomplete="off"/></label>
            <button>Send</button>
        </form>
        <ul id='messages'>
        </ul>

        <div id="userList">
            <h2>User IDs List</h2>
            <div id="users"></div>
          </div>
          <div id="refreshIndicator" class="refresh-indicator">Refreshing...</div>

        <script>
            // Передаем идентификатор текущего пользователя в JavaScript
            const currentUserId = parseInt("{{ user.id }}", 10);
        </script>
        
        
        <script src='/static/js/chat.js'></script>
        <script src='/static/js/button_exit.js'></script>
        <script src='/static/js/users.js'></script>
    </body>
</html>


